@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}
.header {
  font-size: 60px;
  height: 150px;
  display: flex;
  align-items: center;
  font-family: "Bungee Spice", cursive;
}
.content {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 233, 252, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", sans-serif;
  height: 100vh;
}
.imgContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.imgContainer button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
}
img {
  width: 40%;
  height: auto;
  margin: 20px 0;
}
.letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-bottom: 20px;
}
.letters button {
  margin: 1px 1px;
  font-weight: 700;
  font-size: 15px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 25px;
  height: 25px;
}
.inputGuess {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 80%;
  min-width: 50%;
  margin-bottom: 20px;
  font-weight: 700;
}
.inputGuess button {
  color: #090909;
  padding: 0.5em 1.5em;
  font-size: 12px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
}
.correctLetter {
  background-color: lightgreen !important;
}
.incorrectLetter {
  background-color: grey !important;
}
h1 {
  margin: 20px 0;
  font-size: 40px;
  font-weight: 700;
  word-break: break-word;
}
.red {
  color: red !important;
}
.green {
  color: lightgreen !important;
}
button:hover {
  cursor: pointer;
}
.imgContainer button:active,
.inputGuess button:active {
  background-color: lightgray;
}
.finalWord {
  display: flex;
  align-items: center;
  justify-content: center;
}
.finalWord img {
  height: 50px;
  width: auto;
  margin-left: 5px;
}
@media screen and (max-width: 550px) {
  .header {
    font-size: 40px;
    height: 80px;
  }
  img {
    width: 100px;
  }
  .imgContainer button {
    font-size: 12px;
    padding: 0.4em 1.2em;
    margin-left: 20px;
  }
  .imgContainer h1 {
    margin-left: 5px;
    word-break: break-word;
    font-size: 25px;
  }
  input {
    width: 30%;
  }
}
